#requirements
streamlit==1.32.2
pypdf==4.1.0
langchain==0.1.13
python-dotenv==1.0.1
chromadb==0.4.24
langchain-google-genai==0.0.11
PyPDF2==3.0.1
pytesseract==0.3.13
pdf2image==1.17.0
pillow==10.4.0
fpdf==1.7.2
pysqlite3-binary
openai
langchain-openai